MVC/Connected Services/SOAPService/ApplicationService.DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCarDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarDTO" nillable="true" type="tns:CarDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarDTO" nillable="true" type="tns:ArrayOfCarDTO" />
  <xs:complexType name="CarDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Doors" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Minfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Year" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarDTO" nillable="true" type="tns:CarDTO" />
  <xs:complexType name="ArrayOfBuyerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BuyerDTO" nillable="true" type="tns:BuyerDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBuyerDTO" nillable="true" type="tns:ArrayOfBuyerDTO" />
  <xs:complexType name="BuyerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" type="xs:long" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuyerDTO" nillable="true" type="tns:BuyerDTO" />
  <xs:complexType name="ArrayOfOrderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderDTO" nillable="true" type="tns:OrderDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderDTO" nillable="true" type="tns:ArrayOfOrderDTO" />
  <xs:complexType name="OrderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaOfRegistration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Buyer" nillable="true" type="tns:BuyerDTO" />
      <xs:element minOccurs="0" name="BuyerId" type="xs:int" />
      <xs:element minOccurs="0" name="Car" nillable="true" type="tns:CarDTO" />
      <xs:element minOccurs="0" name="CarId" type="xs:int" />
      <xs:element minOccurs="0" name="DateOfPurchase" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PriceOfPurchase" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDTO" nillable="true" type="tns:OrderDTO" />
</xs:schema>